html,body {
    height: 100%;
}

 body {
  
    background-image: linear-gradient(rgba(0, 0, 255, 0.198), 100px, black,rgb(199, 189, 189))
 }

h1 {
    color: white;
}
body img {
    width: 8%;
    height: 12%;
    border:  solid 2px white
}

