body{
    font-family: sans-serif;
    font-size: 100%;
    
}
h1{
    text-align: center;
}
.main{
    border: 1px solid black;
   padding: 16px;
   width: 20em;/* 20 em e relativo ao tamnho da fonte do elemento pai
    facilita a acessilibidado usuario*/
   margin: auto;
   font-size: 1em; /* 1 em e relativo ao tamnho da fonte do elemento pai*/
    

}
p{
    margin: 0;
    line-height: 1.5;
    font-size: 1.25em;

}
a{
    font-size: 1.2em;
}