.flexbox{
    height: 250px;
    border: 1px solid red;
    display: flex;
    
    margin-bottom: 15px;
}

.flexbox div{
    background: orange;
    width: 300px;
    margin: 15px;
}
.flexbox:nth-child(4){
/*flex-direction: row;
    flex-wrap: wrap;*/
    flex-flow: row wrap;
}
.flexbox:nth-child(5){
justify-content: space-around;
}
.flexbox:nth-child(5) div{
   width: 40px; 
}
.flexbox:nth-child(5){
    align-items: center;
    justify-content: center;
}
.flexbox:nth-child(6) div{
    width: 40px; 
 }
 .flexbox:nth-child(7){
     align-items: baseline;
     justify-content: center;
    
 }
 .flexbox:nth-child(8){
   justify-content: center;
   align-items: flex-end;
   flex-wrap: wrap;
   align-content: flex-end;
}
.flexbox:nth-child(8) div{
   width: 70px;
   
}
.flexbox:nth-child(9){
   justify-content: center;
   align-items: center;
}
.flexbox:nth-child(9) div{
    background: blue;
    flex-basis: 50px;
    height: 50px;
}
.flexbox:nth-child(10){
    justify-content: center;
    align-items: center;
 }
 .flexbox:nth-child(10) div{
     background: blue;
     flex-basis: 100px;
     height: 50px;
 }
 .flexbox:nth-child(10) div:nth-child(2){
     flex-grow: 3;
 }
 .flexbox:nth-child(10) div:nth-child(4){
    flex-grow: 1;
}
.flexbox:nth-child(11){
    justify-content: center;
    align-items: center;
 }
 .flexbox:nth-child(11) div{
     background: brown;
     flex-basis: 100px;
     height: 60px;
 }
 .flexbox:nth-child(11) div:nth-child(2){
  
    flex-shrink: 1;
}
.flexbox:nth-child(11) div:nth-child(4){
  flex-shrink: 1;
}
.flexbox:nth-child(12) div:nth-child(2){
    background: red;
    order: 3;
}
.flexbox:nth-child(12) div:nth-child(4){
    background: red;
    order: 2;
}
flexbox:nth-child(13){
    align-items: flex-start;
    
}
.flexbox:nth-child(13)div:nth-child(2){
    align-items: flex-start;
    align-self: flex-end;
    background: royalblue;
 
}
.flexbox:nth-child(14){
    background: saddlebrown;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}
.flexbox:nth-child(14) div{
    flex-basis: 70px;
}