body{
    font-size: 22px;
    font-family: sans-serif;
    width: 900px;
    margin: auto;
background-image: url(_img.css/bg.png);
background-attachment: fixed;
background-position: right bottom;

}
p{
    text-align: justify;
    line-height: 1.5;
}
.img-html{
  float: left;
}
.img-css{
    float: right;
}