p::first-letter{
    float: left;
    font-size: 3em;
    line-height: 1;
    display: inline-block;
    margin-right: .3em;
}
p::first-line{
    color: blue;
}
p::selection{
    background:yellow;
}
p::-moz-selection{
    background:yellow;/* a utlização do moz ocorre quando o Browser não suporta*/
}